---
layout: index
---

<div class="well">
	<b>What is freeShop?</b> It's an open-source homebrew eShop alternative for the Nintendo 3DS. It allows you to browse and install titles you own utilizing title keys.
</div>

{% include pagination.html %}

{% for post in paginator.posts %}
<article class="post">
    <img class="post-thumb" src="{{ post.image }}" />
    <h2><a href="{{ post.url }}">{{ post.title }}</a> <small class="date">{{ post.date | date: "%B %e, %Y" }}</small></h2>
    <div class="entry">
    	{% if post.description %}
			{{ post.description }}
    	{% else %}
        	{{ post.content | strip_html | truncatewords:60}} <a href="{{ post.url }}" class="read-more">Read More &raquo;</a>
    	{% endif %}
    </div>
</article>
{% endfor %}

{% include pagination.html %}
