---
layout: index
---

<div class="text-center">
	<div>
		<img src="img/freeshop.png" />
	</div>
	<div class="btn-group" role="group" aria-label="Download">
		<a class="btn btn-lg btn-default" href="https://get.freeshop.pw/latest"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Latest CIA</a>
		<a id="qr" class="btn btn-lg btn-default" href="img/qr.png"><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span></a>
	</div>
	<div>
		<br/><a href="https://notabug.org/btucker/freeShop">Source code</a>
		<br/><a href="https://gbatemp.net/threads/wip-freeshop-open-source-eshop-clone.426573/">Discussion</a>
	</div>
</div>
<div class="modal fade qr-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<img src="img/qr.png" />
		</div>
	</div>
</div>

{% include pagination.html %}

{% for post in paginator.posts %}
<article class="post">
    <img class="post-thumb" src="{{ post.image }}" />
    <h2><a href="{{ post.url }}">{{ post.title }}</a> <small class="date">{{ post.date | date: "%B %e, %Y" }}</small></h2>
    <div class="entry">
    	{% if post.description %}
			{{ post.description }}
    	{% else %}
        	{{ post.content | strip_html | truncatewords:60}} <a href="{{ post.url }}" class="read-more">Read More &raquo;</a>
    	{% endif %}
    </div>
</article>
{% endfor %}

{% include pagination.html %}
