<div>
    <ul id="nav" class="nav nav-pills">
        <li role="presentation" {% if page.url == '/' %}class="active"{% endif %}><a href="/">Home</a></li>
        <!-- <li role="presentation" {% if page.url == '/news/' %}class="active"{% endif %}><a href="/news/">News</a></li> -->
        <li role="presentation" {% if page.url == '/get-started/' %}class="active"{% endif %}><a href="/get-started/">Get Started</a></li>
        <!-- <li role="presentation" {% if page.url == '/features/' %}class="active"{% endif %}><a href="/features/">Features</a></li> -->
        <li role="presentation" {% if page.url == '/screenshots/' %}class="active"{% endif %}><a href="/screenshots/">Screenshots</a></li>
        <li role="presentation" {% if page.url == '/faqs/' %}class="active"{% endif %}><a href="/faqs/">FAQs</a></li>
    </ul>
</div>
