{% include header.html %}

<div id="index">
	<div class="text-center">
		<div id="logo">
			<img src="/img/freeshop.png" />
		</div>
		<div class="btn-group" role="group" aria-label="Download">
			<a class="btn btn-lg btn-default" href="https://get.freeshop.pw/latest"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Download</a>
			<a class="btn btn-lg btn-default" href="/img/qr.png" data-featherlight><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span></a>
		</div>
	    {% include nav.html %}
	</div>

	<div class="container">
		{{ content }}
	</div>
</div>

{% include footer.html %}
