{% include header.html %}

<div id="pages">
	<div class="text-center">
		<div id="logo">
			<a href="/"><img src="/img/freeshop.png" /></a>
		</div>
		<div id="download" class="btn-group" role="group" aria-label="Download">
			<a class="btn btn-default" href="https://get.freeshop.pw/latest"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Latest CIA</a>
			<a class="btn btn-default" href="/img/qr.png" data-featherlight><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span></a>
		</div>
	    {% include nav.html %}
	</div>

	<h1 class="title text-center">{{ page.title }}</h1>
	<div class="container">
		{{ content }}
	</div>
</div>

{% include footer.html %}
